header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 75px 0 50px; }
#main {font-size:14px;}
#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {font-weight:600; margin: 5px 0;}
#main button {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #6495ed;
  text-decoration: none;
  cursor: pointer;
}

/*{text-transform: none; padding: 8px 12px; font-weight:300; width:80%; min-width:230px;}*/
a {color:#3287fc;}
.btn-info {background-color:#3287fc; border-color:#3287fc;}
.btn-success {background-color:#c96e12; border-color:#c96e12;}
.btn-secondary {background-color:#f6c101; border-color:#f6c101;}
.list-group-item p {margin: 5px 0;}
.card {margin-bottom: 10px;}
.list-group {margin-bottom: 10px;}
.card-header {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif; font-weight:300; font-size:1.25rem; background:#eee;}
.badge {font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif; font-weight:300;}
code, pre {background: #eee; padding: 1px 3px;}
.table td, .table th {padding: .42em;}
.table { margin-top: 8px; }
.far, .fas {font-size:18px;}
.affiliation {font-style: italic; font-family:"Open Sans", "Helvetica", "Arial", sans-serif; font-weight:300; font-size:.75rem;}
.paperlink {font-size: .85em;}
.crossed { position: relative;padding: .1rem; overflow: hidden;}
.crossed:before, .crossed:after { position: absolute; content: ''; background: #dc3545!important; display: block; width: 20%; height: 2px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); left: 0; right: 0; top: 0; bottom: 0; margin: auto;border-radius: 1px; }
.crossed:after { -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.supfact { color: #28a745 }
span.line { display: inline-block;}
.data-paragraph, .data-question, .data-answer{ margin-bottom: 8px; transition: height .2s;}
.data-paragraph .paragraph-title { color: #888888; }
.data-paragraph .supfact { background: #bbffcc; border-radius: 3px; color: inherit; transition: background-color .2s;}
.data-paragraph .hide { background: none !important; }